In [1]:
import pandas as pd 
import numpy as np
import glob
import os
import random

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
path = r"C:\Users\Administrator\Documents\Dr Abidemi\Study CSP 1019\Data\CSV"

In [4]:
all_forms = glob.glob(path + '/*.csv')

In [5]:
all_forms[1]

'C:\\Users\\Administrator\\Documents\\Dr Abidemi\\Study CSP 1019\\Data\\CSV\\IMC01.csv'

In [6]:
form1  = pd.read_csv(all_forms[1])

In [7]:
form1

,STUDY,FORM,CENTER,PATIENT,NAMECODE,FORMCODE,DATECOMP,WEEK,Q1,Q2,...,Q29,Q30,Q31,Q32,Q33,Q34,Q35,RANDATE,Q37CEN,Q37PAT
0,1019,1,89,580699,NaN,NaN,0.0,0.0,25,2,...,2.0,2.0,2.0,1.0,1.0,12.0,2.0,0.0,NaN,NaN
1,1019,1,89,705177,NaN,NaN,0.0,NaN,5,1,...,2.0,2.0,2.0,1.0,1.0,5.0,2.0,0.0,NaN,NaN
2,1019,1,89,543055,NaN,NaN,0.0,NaN,20,1,...,2.0,2.0,2.0,1.0,1.0,13.0,2.0,0.0,NaN,NaN
3,1019,1,89,744333,NaN,NaN,0.0,0.0,29,2,...,2.0,2.0,2.0,1.0,1.0,2.0,2.0,0.0,NaN,NaN
4,1019,1,89,894485,NaN,NaN,0.0,NaN,15,1,...,2.0,2.0,2.0,1.0,1.0,27.0,2.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,1019,1,536,529124,NaN,NaN,0.0,NaN,30,1,...,2.0,2.0,2.0,1.0,1.0,18.0,2.0,0.0,NaN,NaN
341,1019,1,536,629547,NaN,NaN,0.0,NaN,17,2,...,2.0,2.0,2.0,1.0,1.0,7.0,2.0,0.0,NaN,NaN
342,1019,1,536,45637,NaN,NaN,-13.0,0.0,25,2,...,2.0,2.0,2.0,1.0,1.0,20.0,2.0,0.0,NaN,NaN
343,1019,1,536,131558,NaN,NaN,0.0,NaN,20,2,...,2.0,2.0,2.0,1.0,1.0,12.0,2.0,0.0,NaN,NaN
344,1019,1,536,6159,NaN,NaN,0.0,NaN,20,2,...,2.0,2.0,2.0,1.0,1.0,5.0,2.0,0.0,NaN,NaN

In [8]:
form1Para = form1.columns
form1Para

Index(['STUDY', 'FORM', 'CENTER', 'PATIENT', 'NAMECODE', 'FORMCODE',
       'DATECOMP', 'WEEK', 'Q1', 'Q2', 'DOB', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
       'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18',
       'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28',
       'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'RANDATE', 'Q37CEN',
       'Q37PAT'],
      dtype='object')

In [ ]:
form1[]

In [9]:
for para in form1Para:
    print(form1[para].unique())

[1019]
[1]
[ 89  24  62 338 328 445  59 903  34 394  55 671 187 356 515 536]
[580699 705177 543055 744333 894485 201767 612210 319281 900685 606288
 551432 324070 813765 491586 473799 263676 292996  72398 290236 238570
 862161 530870 142414   5369 692019 813581 216184 697275 735460 615067
 991112 410268 614295  91618 511081 958290 800336 594035 501180 437766
 251045 112342  98299 384475  31627 830997 757405 363936 562079 845238
 137908 870967  70090 147116 603489 564036 816407  70841 693713 467471
 906165  42387 452998 461222 810983  48406 116011 958645 573308 991164
 504874 146551 345304 288059 381796 838682 390689  95605 669278  69725
 958818 855836 970543  69012  91432 471644 555431 273894 223034 688027
  51801 813836 399425 551820 346641 778088  87949  39809 505214 780289
 712997 942169  32935 280519 373553 879971 305422 756244 876923 283328
 719132 447665 388216 644778 841902 405818 158724 822868 479467 119440
 372343 365282 563354 173360 649061 885818 546354 761769 691475 865026
 101361 788956 787948 777216 981040 233125 373574 955517 624416 224427
 372398 289138 315244 201643 333228 587589 227310 363787 681295 764443
 999554 727990 928512 806111 153609 854750  99447 714859 201852 306839
  46927 336191 104567 962361 106044 908089 372505 954434 403908 482247
 781519 138265 871035 586413 681577 203700 351531 119368  16240 966029
 462018 810999 545775 180434 126373  44134 807940 439109  96535 232868
 203277  43936  91705 523819 145977    680 153929 586097 733810 474475
 882883  58127 210588 352961 957255 188558 830218 870908 127850 447719
   9880 342810 254129 280330  60965 270213 473359 435767 702779 724679
 349591 607659 504413 681088 207337 353874 272029 538407 872661   8639
 800576 468729 154473 683291 510670 398658 417567 951875 297682 513183
 502544 629401 595795 283466 638844 368632 745843 392953 127454 366110
  16265 546978 198137 903189 727181 377144 910665 164236 575114 782925
  75551 184576 951512 739695 330327 771449  87803  72554 390006 443231
 906108 613926 843149 824890  76887 214235 304147 361365 366103 151291
 825782 190144 314455 302632  32345 908264  93518 362565 247527 839158
 850393 502647 272534 953286 260240 927202   5265 536416 201766 708619
 815773 547352 550387 340262  21479 615618 534860 111480 972632 557134
 342994 184000 646058 881232 384605 400312 134389 466151 528496  17871
 855718 545080 505520 385192 531071 210325 249435 701583 889547 770925
 816544 542976 905535 302494 963947 798465 231716 702824 912463 355613
 529124 629547  45637 131558   6159]
[nan]
[nan]
[  0. -26. -21. -18. -24. -20. -15. -14. -28. -25. -23. -29. -16. -22.
 -32. -27.  -2.  -3. -19.  -1.  -7.   2.  nan  -5. -13.]
[ 0. nan]
[25  5 20 29 15 24 22 18  8  2 30 10 17  3 27 12  9 26 21  6  1  4 28  7
 16 14 19 13 23  0 11]
[2 1]
[43. 42. 39. 33. 35. 52. 47. 40. 51. 31. 44. 37. 46. 41. 49. 48. 38. 34.
 28. 27. 36. 26. 50. 23. 24. 29. 58. 54. 57. 30. 53. 32. 45. nan 20. 22.
 56. 55. 62. 25.]
[1]
[1 3 2]
[ 1.  3.  2. nan]
[1]
[1 3 2]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  1. nan  3.]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 1. nan]
[ 1.  2. nan]
[12.  5. 13.  2. 27. 15. 10.  7.  8.  4.  6. 14. 17. 44. 16. 21.  1.  3.
 25. 24. 11.  0. 23.  9. 19. 20. 28. 31. nan 26. 42. 39. 22. 29. 18. 30.]
[ 2.  1. nan]
[  0. -10.   2.  nan]
[nan]
[nan]

In [27]:
columns = form1Para

form1Simu = pd.DataFrame(columns=columns)

In [32]:
for i in range(len(columns)):
    each_col = columns[i]
    unique = form1[each_col].unique()
    print(unique)

[1019]
[1]
[ 89  24  62 338 328 445  59 903  34 394  55 671 187 356 515 536]
[580699 705177 543055 744333 894485 201767 612210 319281 900685 606288
 551432 324070 813765 491586 473799 263676 292996  72398 290236 238570
 862161 530870 142414   5369 692019 813581 216184 697275 735460 615067
 991112 410268 614295  91618 511081 958290 800336 594035 501180 437766
 251045 112342  98299 384475  31627 830997 757405 363936 562079 845238
 137908 870967  70090 147116 603489 564036 816407  70841 693713 467471
 906165  42387 452998 461222 810983  48406 116011 958645 573308 991164
 504874 146551 345304 288059 381796 838682 390689  95605 669278  69725
 958818 855836 970543  69012  91432 471644 555431 273894 223034 688027
  51801 813836 399425 551820 346641 778088  87949  39809 505214 780289
 712997 942169  32935 280519 373553 879971 305422 756244 876923 283328
 719132 447665 388216 644778 841902 405818 158724 822868 479467 119440
 372343 365282 563354 173360 649061 885818 546354 761769 691475 865026
 101361 788956 787948 777216 981040 233125 373574 955517 624416 224427
 372398 289138 315244 201643 333228 587589 227310 363787 681295 764443
 999554 727990 928512 806111 153609 854750  99447 714859 201852 306839
  46927 336191 104567 962361 106044 908089 372505 954434 403908 482247
 781519 138265 871035 586413 681577 203700 351531 119368  16240 966029
 462018 810999 545775 180434 126373  44134 807940 439109  96535 232868
 203277  43936  91705 523819 145977    680 153929 586097 733810 474475
 882883  58127 210588 352961 957255 188558 830218 870908 127850 447719
   9880 342810 254129 280330  60965 270213 473359 435767 702779 724679
 349591 607659 504413 681088 207337 353874 272029 538407 872661   8639
 800576 468729 154473 683291 510670 398658 417567 951875 297682 513183
 502544 629401 595795 283466 638844 368632 745843 392953 127454 366110
  16265 546978 198137 903189 727181 377144 910665 164236 575114 782925
  75551 184576 951512 739695 330327 771449  87803  72554 390006 443231
 906108 613926 843149 824890  76887 214235 304147 361365 366103 151291
 825782 190144 314455 302632  32345 908264  93518 362565 247527 839158
 850393 502647 272534 953286 260240 927202   5265 536416 201766 708619
 815773 547352 550387 340262  21479 615618 534860 111480 972632 557134
 342994 184000 646058 881232 384605 400312 134389 466151 528496  17871
 855718 545080 505520 385192 531071 210325 249435 701583 889547 770925
 816544 542976 905535 302494 963947 798465 231716 702824 912463 355613
 529124 629547  45637 131558   6159]
[nan]
[nan]
[  0. -26. -21. -18. -24. -20. -15. -14. -28. -25. -23. -29. -16. -22.
 -32. -27.  -2.  -3. -19.  -1.  -7.   2.  nan  -5. -13.]
[ 0. nan]
[25  5 20 29 15 24 22 18  8  2 30 10 17  3 27 12  9 26 21  6  1  4 28  7
 16 14 19 13 23  0 11]
[2 1]
[43. 42. 39. 33. 35. 52. 47. 40. 51. 31. 44. 37. 46. 41. 49. 48. 38. 34.
 28. 27. 36. 26. 50. 23. 24. 29. 58. 54. 57. 30. 53. 32. 45. nan 20. 22.
 56. 55. 62. 25.]
[1]
[1 3 2]
[ 1.  3.  2. nan]
[1]
[1 3 2]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  1. nan  3.]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 2.  3. nan  1.]
[ 2.  3. nan  1.]
[ 2.  3. nan]
[ 1. nan]
[ 1.  2. nan]
[12.  5. 13.  2. 27. 15. 10.  7.  8.  4.  6. 14. 17. 44. 16. 21.  1.  3.
 25. 24. 11.  0. 23.  9. 19. 20. 28. 31. nan 26. 42. 39. 22. 29. 18. 30.]
[ 2.  1. nan]
[  0. -10.   2.  nan]
[nan]
[nan]

In [28]:
form1Simu

Empty DataFrame
Columns: [STUDY, FORM, CENTER, PATIENT, NAMECODE, FORMCODE, DATECOMP, WEEK, Q1, Q2, DOB, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11, Q12, Q13, Q14, Q15, Q16, Q17, Q18, Q19, Q20, Q21, Q22, Q23, Q24, Q25, Q26, Q27, Q28, Q29, Q30, Q31, Q32, Q33, Q34, Q35, RANDATE, Q37CEN, Q37PAT]
Index: []

[0 rows x 46 columns]

In [ ]:
df['STUDY'] = [1019]
df['FORM'] = [1]
df['CENTER'] = random.sample(range(1, 1000), len(df))
df['PATIENT'] = random.sample(range(100000, 1000000), len(df))

In [46]:
pd.DataFrame(np.zeros((10,len(form1Para))))

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def Simu(form_no, sample_no):
    form1Para = form_no.columns
    columns = form1Para
    formSimu = pd.DataFrame(columns=columns)
    tmp = np.zeros((sample_no,len(form1Para)), dtype="float32")
    for n in range(0, sample_no):
        temp[n] =

In [39]:
def Simu(form_no, sample_no):
    form1Para = form_no.columns
    columns = form1Para
    formSimu = pd.DataFrame(columns=columns)
    
    # Create a placeholder array for the new generated values
    tmp = np.empty((sample_no, len(form1Para)), dtype="object")

    for i in range(len(columns)):
        each_col = columns[i]
        unique_values = form_no[each_col].unique()
        
        # Handle case where there is a single unique value
        if len(unique_values) == 1:
            sampled_values = np.full(sample_no, unique_values[0], dtype="object")
        else:
            # Adjust sample size if it's larger than the number of unique values
            adjusted_sample_no = min(sample_no, len(unique_values))
            
            # Randomly sample values from the unique values
            sampled_values = np.array(random.sample(list(unique_values), adjusted_sample_no), dtype="object")
            
        # Update the placeholder array with sampled values
        tmp[:len(sampled_values), i] = sampled_values

    # Populate the new DataFrame with the values from the placeholder array
    formSimu = pd.DataFrame(tmp, columns=columns)

    return formSimu

In [136]:
round(form1.isnull().mean()*100)

STUDY         0.0
FORM          0.0
CENTER        0.0
PATIENT       0.0
NAMECODE    100.0
FORMCODE    100.0
DATECOMP     13.0
WEEK         77.0
Q1            0.0
Q2            0.0
DOB          13.0
Q4            0.0
Q5            0.0
Q6            0.0
Q7            0.0
Q8            0.0
Q9            5.0
Q10           5.0
Q11           5.0
Q12           5.0
Q13           5.0
Q14           5.0
Q15           5.0
Q16           6.0
Q17           6.0
Q18           5.0
Q19           5.0
Q20           5.0
Q21           6.0
Q22           5.0
Q23           5.0
Q24           5.0
Q25           6.0
Q26           5.0
Q27           5.0
Q28           5.0
Q29           5.0
Q30           5.0
Q31           5.0
Q32           6.0
Q33           6.0
Q34          13.0
Q35          13.0
RANDATE      13.0
Q37CEN      100.0
Q37PAT      100.0
dtype: float64

In [228]:
def Simu(form_no, sample_no):
    """
    Generate simulated data with missing values based on the distribution of existing values.

    Parameters:
    - form_no (pd.DataFrame): The original DataFrame used as a template for generating simulated data.
    - sample_no (int): The number of samples to generate in the simulated data.

    Returns:
    pd.DataFrame: A DataFrame containing the simulated data with missing values.
    """

    # Extract column names from the original DataFrame
    form1Para = form_no.columns
    columns = form1Para

    # Create an empty DataFrame to store the simulated data
    formSimu = pd.DataFrame(columns=columns)

    # Calculate the percentage of missing values in each column
    missing_percentage = round(form_no.isnull().mean() * 100)

    # Create a placeholder array for the new generated values
    tmp = np.empty((sample_no, len(form1Para)), dtype="object")

    # Iterate through each column to generate simulated data
    for i in range(len(columns)):
        each_col = columns[i]
        unique_values = form_no[each_col].unique()

        # Calculate the target percentage of missing values for the current column
        target_missing_percentage = missing_percentage[each_col]
        nan_prob = target_missing_percentage / 100

        # Impute missing values based on the distribution of existing values
        existing_values = form_no[each_col].dropna()
        imputed_values = existing_values.sample(min(int((1 - nan_prob) * sample_no), len(existing_values)), replace=True).values

        # Calculate the probability distribution for sampling
        p_distribution = [1 - nan_prob] * len(imputed_values) + [nan_prob * len(unique_values)]

        # Randomly sample values from the imputed values and NaN values
        sampled_values = np.random.choice(
            np.concatenate([imputed_values, [np.nan]]),
            size=sample_no,
            replace=True,
            p=p_distribution / np.sum(p_distribution)  # Normalize probabilities to sum to 1
        )

        # Update the placeholder array with sampled values
        tmp[:, i] = sampled_values

    # Replace remaining None with a default value (change 'DefaultValue' to your desired default)
    tmp[tmp == None] = 'DefaultValue'

    # Populate the new DataFrame with the values from the placeholder array
    formSimu = pd.DataFrame(tmp, columns=columns)

    return formSimu

In [229]:
f1 = Simu(form1, 400)

#f1.to_csv('form01_samp.csv', index= False)

In [230]:
f1

,STUDY,FORM,CENTER,PATIENT,NAMECODE,FORMCODE,DATECOMP,WEEK,Q1,Q2,...,Q29,Q30,Q31,Q32,Q33,Q34,Q35,RANDATE,Q37CEN,Q37PAT
0,1019.0,1.0,55.0,270213.0,NaN,NaN,-23.0,0.0,8.0,1.0,...,2.0,2.0,2.0,1.0,1.0,27.0,2.0,0.0,NaN,NaN
1,1019.0,1.0,55.0,603489.0,NaN,NaN,0.0,0.0,15.0,2.0,...,2.0,2.0,2.0,1.0,1.0,26.0,2.0,0.0,NaN,NaN
2,1019.0,1.0,89.0,816407.0,NaN,NaN,-3.0,0.0,20.0,1.0,...,2.0,2.0,2.0,1.0,1.0,6.0,2.0,0.0,NaN,NaN
3,1019.0,1.0,515.0,388216.0,NaN,NaN,0.0,0.0,20.0,1.0,...,2.0,2.0,2.0,1.0,1.0,15.0,2.0,0.0,NaN,NaN
4,1019.0,1.0,328.0,314455.0,NaN,NaN,-24.0,0.0,12.0,1.0,...,2.0,2.0,2.0,1.0,1.0,6.0,2.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1019.0,1.0,394.0,719132.0,NaN,NaN,0.0,0.0,25.0,2.0,...,2.0,2.0,2.0,1.0,1.0,15.0,2.0,0.0,NaN,NaN
396,1019.0,1.0,671.0,233125.0,NaN,NaN,NaN,0.0,28.0,1.0,...,2.0,2.0,2.0,1.0,1.0,19.0,2.0,0.0,NaN,NaN
397,1019.0,1.0,515.0,223034.0,NaN,NaN,-18.0,0.0,17.0,1.0,...,2.0,2.0,2.0,1.0,1.0,3.0,2.0,0.0,NaN,NaN
398,1019.0,1.0,89.0,93518.0,NaN,NaN,0.0,0.0,25.0,1.0,...,2.0,2.0,2.0,1.0,1.0,13.0,2.0,0.0,NaN,NaN
399,1019.0,1.0,394.0,958290.0,NaN,NaN,0.0,0.0,20.0,2.0,...,2.0,2.0,2.0,1.0,1.0,23.0,2.0,0.0,NaN,NaN

In [205]:
f1['Q31'].isnull().mean()

0.0

In [218]:
form1.isnull().mean() * 100

STUDY         0.000000
FORM          0.000000
CENTER        0.000000
PATIENT       0.000000
NAMECODE    100.000000
FORMCODE    100.000000
DATECOMP     13.043478
WEEK         76.811594
Q1            0.000000
Q2            0.000000
DOB          13.043478
Q4            0.000000
Q5            0.000000
Q6            0.289855
Q7            0.000000
Q8            0.000000
Q9            5.217391
Q10           5.217391
Q11           5.217391
Q12           5.217391
Q13           5.217391
Q14           5.217391
Q15           5.217391
Q16           5.507246
Q17           5.507246
Q18           5.217391
Q19           5.217391
Q20           5.217391
Q21           5.797101
Q22           5.217391
Q23           5.217391
Q24           5.217391
Q25           5.797101
Q26           5.217391
Q27           5.217391
Q28           5.217391
Q29           5.217391
Q30           5.217391
Q31           5.217391
Q32           6.086957
Q33           6.086957
Q34          13.043478
Q35          13.043478
RANDATE      13.043478
Q37CEN      100.000000
Q37PAT      100.000000
dtype: float64

In [219]:
f1.isnull().mean() * 100

STUDY         0.00
FORM          0.00
CENTER        0.00
PATIENT       0.00
NAMECODE    100.00
FORMCODE    100.00
DATECOMP      1.50
WEEK          8.75
Q1            0.00
Q2            0.00
DOB           1.50
Q4            0.00
Q5            0.00
Q6            0.00
Q7            0.00
Q8            0.00
Q9            0.00
Q10           0.00
Q11           0.25
Q12           0.00
Q13           0.00
Q14           0.00
Q15           0.00
Q16           0.00
Q17           0.00
Q18           0.00
Q19           0.00
Q20           0.00
Q21           0.00
Q22           0.25
Q23           0.50
Q24           0.00
Q25           0.00
Q26           0.00
Q27           0.25
Q28           0.00
Q29           0.00
Q30           0.00
Q31           0.00
Q32           0.00
Q33           0.00
Q34           1.00
Q35           0.25
RANDATE       0.50
Q37CEN      100.00
Q37PAT      100.00
dtype: float64

In [220]:
form2  = pd.read_csv(all_forms[2])

In [221]:
Simu(form2, 200)

,STUDY,FORM,CENTER,PATIENT,NAMECODE,FORMCODE,DATECOMP,WEEK,Q1,Q2,...,Q17,Q18,Q18A,Q19,Q20,Q21,Q22,Q23,Q24,Q25
0,1019.0,2.0,338.0,970543.0,NaN,NaN,14.0,9.0,1.0,1.0,...,0.0,0.0,NaN,0.0,0.0,0.0,1.0,1.0,1.0,0.0
1,1019.0,2.0,515.0,505214.0,NaN,NaN,28.0,7.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0
2,1019.0,2.0,536.0,782925.0,NaN,NaN,42.0,3.0,0.0,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,3.0,20.0
3,1019.0,2.0,89.0,563354.0,NaN,NaN,42.0,5.0,1.0,0.0,...,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,18.0
4,1019.0,2.0,338.0,8639.0,NaN,NaN,42.0,5.0,1.0,0.0,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1019.0,2.0,903.0,530870.0,NaN,NaN,-22.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0
196,1019.0,2.0,328.0,555431.0,NaN,NaN,-7.0,0.0,0.0,0.0,...,0.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,11.0
197,1019.0,2.0,24.0,363787.0,NaN,NaN,19.0,0.0,0.0,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
198,1019.0,2.0,903.0,349591.0,NaN,NaN,44.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,18.0
199,1019.0,2.0,59.0,231716.0,NaN,NaN,70.0,7.0,0.0,0.0,...,0.0,0.0,2.0,0.0,1.0,0.0,1.0,2.0,0.0,6.0

In [224]:
form3  = pd.read_csv(all_forms[3])

In [225]:
Simu(form3, 300)

,STUDY,FORM,CENTER,PATIENT,NAMECODE,FORMCODE,DATECOMP,WEEK,Q1,Q1A,...,Q18,Q18A,Q18B,Q18C,Q18D,Q18DSPEC,Q19,Q19A,Q19B,Q20
0,1019.0,3.0,394.0,51801.0,NaN,NaN,-14.0,0.0,1.0,12.0,...,2.0,16.0,2.0,1.0,2.0,NaN,2.0,2.0,1.0,2.0
1,1019.0,3.0,356.0,452998.0,NaN,NaN,-14.0,NaN,2.0,12.0,...,1.0,NaN,1.0,1.0,2.0,NaN,2.0,2.0,1.0,2.0
2,1019.0,3.0,903.0,839158.0,NaN,NaN,-10.0,NaN,2.0,5.0,...,2.0,NaN,1.0,1.0,1.0,NaN,2.0,1.0,1.0,2.0
3,1019.0,3.0,24.0,771449.0,NaN,NaN,-8.0,NaN,1.0,10.0,...,2.0,NaN,2.0,1.0,1.0,NaN,2.0,NaN,1.0,2.0
4,1019.0,3.0,356.0,153609.0,NaN,NaN,-3.0,NaN,2.0,15.0,...,2.0,6.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1019.0,3.0,187.0,340262.0,NaN,NaN,-22.0,NaN,2.0,10.0,...,2.0,6.0,NaN,1.0,2.0,NaN,2.0,2.0,NaN,2.0
296,1019.0,3.0,394.0,830218.0,NaN,NaN,-11.0,NaN,1.0,13.0,...,2.0,8.0,1.0,NaN,2.0,NaN,2.0,NaN,1.0,2.0
297,1019.0,3.0,903.0,280330.0,NaN,NaN,-14.0,NaN,2.0,13.0,...,2.0,10.0,1.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0
298,1019.0,3.0,338.0,951512.0,NaN,NaN,-23.0,NaN,1.0,NaN,...,2.0,5.0,NaN,1.0,1.0,NaN,2.0,1.0,1.0,2.0
299,1019.0,3.0,903.0,545080.0,NaN,NaN,-15.0,NaN,2.0,13.0,...,2.0,NaN,2.0,1.0,1.0,NaN,2.0,1.0,1.0,2.0

In [226]:
form7 = pd.read_csv(all_forms[7])
form7

,STUDY,FORM,CENTER,PATIENT,NAMECODE,FORMCODE,DATECOMP,WEEK,Q1A,Q1B,...,Q19HDATE,Q20A,Q20B,Q20C,Q20D,Q20E,Q20F,Q20GDATE,Q20GCONT,Q20HDATE
0,1019,7,89,580699,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1019,7,89,705177,NaN,NaN,-21,NaN,IBUPROFEN,ARTHRITIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1019,7,89,543055,NaN,NaN,-18,NaN,TRANDOLAPRIL,BLOOD PRESSURE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1019,7,89,744333,NaN,NaN,-15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1019,7,89,894485,NaN,NaN,-17,NaN,MULTIVITAMIN,HEALTH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1019,7,536,529124,NaN,NaN,-10,NaN,VICODIN,L SHOULDER PAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,1019,7,536,629547,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,1019,7,536,45637,NaN,NaN,-22,NaN,IBUPROFEN,BACK PAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,1019,7,536,131558,NaN,NaN,-9,NaN,NYQUIL,COUGH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,1019,7,536,6159,NaN,NaN,-15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
Simu(form7, 350)

,STUDY,FORM,CENTER,PATIENT,NAMECODE,FORMCODE,DATECOMP,WEEK,Q1A,Q1B,...,Q19HDATE,Q20A,Q20B,Q20C,Q20D,Q20E,Q20F,Q20GDATE,Q20GCONT,Q20HDATE
0,1019.0,7.0,394.0,283466.0,NaN,NaN,-18.0,0.0,CELEBREX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1019.0,7.0,187.0,693713.0,NaN,NaN,-21.0,NaN,VALIUM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1019.0,7.0,515.0,283466.0,NaN,NaN,-17.0,0.0,ATENOLOL,OUT OF CURIOSITY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1019.0,7.0,62.0,76887.0,NaN,NaN,-14.0,NaN,ACETAMINOPHEN,THROAT INFECTION,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1019.0,7.0,24.0,546354.0,NaN,NaN,-14.0,NaN,NaN,TOOTHACHE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,1019.0,7.0,55.0,352961.0,NaN,NaN,-28.0,NaN,TUMS,HEADACHE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,1019.0,7.0,328.0,501180.0,NaN,NaN,-27.0,NaN,CLARITIN,ACHES & PAINS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,1019.0,7.0,515.0,531071.0,NaN,NaN,-30.0,0.0,IBUPROFEN,PAIN/BACK HEADACHE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,1019.0,7.0,338.0,942169.0,NaN,NaN,-15.0,NaN,ASPIRIN,HEALTH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,1019.0,7.0,328.0,912463.0,NaN,NaN,-21.0,NaN,ASPIRIN,BACK PAIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN